In [3]:
import pandas as pd
train_data_path = "data/train_AUpWtIz/train.csv"
campaign_data_path = "data/train_AUpWtIz/campaign_data.csv"
coupon_item_mapping_data_path = "data/train_AUpWtIz/coupon_item_mapping.csv"
customer_demographics_data_path = "data/train_AUpWtIz/customer_demographics.csv"
customer_transaction_data_path = "data/train_AUpWtIz/customer_transaction_data.csv"
item_data_path = "data/train_AUpWtIz/item_data.csv"

train_df = pd.read_csv(train_data_path)
campaign_df = pd.read_csv(campaign_data_path)
coupon_item_df = pd.read_csv(coupon_item_mapping_data_path)
customer_demo_df = pd.read_csv(customer_demographics_data_path)
customer_trans_df = pd.read_csv(customer_transaction_data_path)
item_df =  pd.read_csv(item_data_path)

In [4]:
train_df.describe()

,id,campaign_id,coupon_id,customer_id,redemption_status
count,78369.000000,78369.000000,78369.000000,78369.000000,78369.000000
mean,64347.975449,13.974441,566.363243,787.451888,0.009302
std,37126.440855,8.019215,329.966054,456.811339,0.095999
min,1.000000,1.000000,1.000000,1.000000,0.000000
25%,32260.000000,8.000000,280.000000,399.000000,0.000000
50%,64318.000000,13.000000,597.000000,781.000000,0.000000
75%,96577.000000,13.000000,857.000000,1190.000000,0.000000
max,128595.000000,30.000000,1115.000000,1582.000000,1.000000

In [5]:
print(train_df.isnull().sum())
print("-------------------------------")
print(campaign_df.isnull().sum())
print("-------------------------------")
print(coupon_item_df.isnull().sum())
print("-------------------------------")
print(customer_demo_df.isnull().sum())
print("-------------------------------")
print(customer_trans_df.isnull().sum())
print("-------------------------------")
print(item_df.isnull().sum())
print("-------------------------------")

id                   0
campaign_id          0
coupon_id            0
customer_id          0
redemption_status    0
dtype: int64
-------------------------------
campaign_id       0
campaign_type     0
start_date        0
end_date          0
correction       23
dtype: int64
-------------------------------
coupon_id    0
item_id      0
dtype: int64
-------------------------------
customer_id         0
age_range           0
marital_status    329
rented              0
family_size         0
no_of_children    538
income_bracket      0
dtype: int64
-------------------------------
date               0
customer_id        0
item_id            0
quantity           0
selling_price      0
other_discount     0
coupon_discount    0
dtype: int64
-------------------------------
item_id       0
brand         0
brand_type    0
category      0
dtype: int64
-------------------------------

In [6]:
customer_demo_df = customer_demo_df[['customer_id', 'age_range', 'rented', 'family_size','income_bracket']]

In [7]:
#train_df has all the numeric columns
import datetime
campaign_df_1 = campaign_df.copy()
campaign_df_1['start_date'] = campaign_df_1['start_date'].apply(lambda x: datetime.datetime.strptime(x,"%d/%m/%y"))
campaign_df_1['end_date'] = campaign_df_1['end_date'].apply(lambda x: datetime.datetime.strptime(x,"%d/%m/%y"))
campaign_df_1['month'] = campaign_df_1['start_date'].dt.month
campaign_df_1

    campaign_id campaign_type start_date   end_date correction  month
0            24             Y 2013-10-21 2013-12-20        NaN     10
1            25             Y 2013-10-21 2013-11-22        NaN     10
2            20             Y 2013-09-07 2013-11-16        NaN      9
3            23             Y 2013-10-08 2013-11-15        NaN     10
4            21             Y 2013-09-16 2013-10-18        NaN      9
5            22             X 2013-09-16 2013-10-18        NaN      9
6            18             X 2013-08-10 2013-10-04      wrong      8
7            19             Y 2013-08-26 2013-09-27        NaN      8
8            17             Y 2013-07-29 2013-08-30        NaN      7
9            16             Y 2013-07-15 2013-08-16        NaN      7
10           13             X 2013-05-19 2013-07-05      wrong      5
11           11             Y 2013-04-22 2013-06-07        NaN      4
12           12             Y 2013-04-22 2013-05-24        NaN      4
13           10             Y 2013-04-08 2013-05-10        NaN      4
14            9             Y 2013-03-11 2013-04-12        NaN      3
15            8             X 2013-02-16 2013-04-05        NaN      2
16            7             Y 2013-02-02 2013-03-08        NaN      2
17            6             Y 2013-01-28 2013-03-01      wrong      1
18            3             Y 2012-12-22 2013-02-16        NaN     12
19            5             Y 2013-01-12 2013-02-15      wrong      1
20            4             Y 2013-01-07 2013-02-08        NaN      1
21            1             Y 2012-12-12 2013-01-18        NaN     12
22            2             Y 2012-12-17 2013-01-18        NaN     12
23           30             X 2012-11-19 2013-01-04        NaN     11
24           29             Y 2012-10-08 2012-11-30        NaN     10
25           28             Y 2012-09-16 2012-11-16        NaN      9
26           27             Y 2012-08-25 2012-10-27        NaN      8
27           26             X 2012-08-12 2012-09-21      wrong      8

In [8]:
#check the campaign dataframe
campaign_df.select_dtypes(exclude = ["number"])
#it gives three col "campaign_type" ,"start_date","end_date" are not numbers.

#USING GETDUMMIES FUNCTION
campaign_df_1 = pd.get_dummies(campaign_df_1,columns = ['campaign_type'])
#df_with_dummies = pd.get_dummies( df, columns = cols_to_transform )

#check the duration and month from the dates.
campaign_df_1['total_days'] = campaign_df_1['end_date'].values - campaign_df_1['start_date'].values
campaign_df_1

,campaign_id,start_date,end_date,correction,month,campaign_type_X,campaign_type_Y,total_days
0,24,2013-10-21,2013-12-20,NaN,10,0,1,60 days
1,25,2013-10-21,2013-11-22,NaN,10,0,1,32 days
2,20,2013-09-07,2013-11-16,NaN,9,0,1,70 days
3,23,2013-10-08,2013-11-15,NaN,10,0,1,38 days
4,21,2013-09-16,2013-10-18,NaN,9,0,1,32 days
5,22,2013-09-16,2013-10-18,NaN,9,1,0,32 days
6,18,2013-08-10,2013-10-04,wrong,8,1,0,55 days
7,19,2013-08-26,2013-09-27,NaN,8,0,1,32 days
8,17,2013-07-29,2013-08-30,NaN,7,0,1,32 days
9,16,2013-07-15,2013-08-16,NaN,7,0,1,32 days
10,13,2013-05-19,2013-07-05,wrong,5,1,0,47 days
11,11,2013-04-22,2013-06-07,NaN,4,0,1,46 days
12,12,2013-04-22,2013-05-24,NaN,4,0,1,32 days
13,10,2013-04-08,2013-05-10,NaN,4,0,1,32 days
14,9,2013-03-11,2013-04-12,NaN,3,0,1,32 days
15,8,2013-02-16,2013-04-05,NaN,2,1,0,48 days
16,7,2013-02-02,2013-03-08,NaN,2,0,1,34 days
17,6,2013-01-28,2013-03-01,wrong,1,0,1,32 days
18,3,2012-12-22,2013-02-16,NaN,12,0,1,56 days
19,5,2013-01-12,2013-02-15,wrong,1,0,1,34 days
20,4,2013-01-07,2013-02-08,NaN,1,0,1,32 days
21,1,2012-12-12,2013-01-18,NaN,12,0,1,37 days
22,2,2012-12-17,2013-01-18,NaN,12,0,1,32 days
23,30,2012-11-19,2013-01-04,NaN,11,1,0,46 days
24,29,2012-10-08,2012-11-30,NaN,10,0,1,53 days
25,28,2012-09-16,2012-11-16,NaN,9,0,1,61 days
26,27,2012-08-25,2012-10-27,NaN,8,0,1,63 days
27,26,2012-08-12,2012-09-21,wrong,8,1,0,40 days

In [9]:
#Desired columns from campaign_df csv = ['month',campaign_type_X,campaign_type_Y,total_days]
campaign_data_df = campaign_df_1.loc[:,["campaign_id",'month','campaign_type_X','campaign_type_Y','total_days']]
campaign_data_df['total_days'] = campaign_data_df['total_days'].dt.days
campaign_data_df

    campaign_id  month  campaign_type_X  campaign_type_Y  total_days
0            24     10                0                1          60
1            25     10                0                1          32
2            20      9                0                1          70
3            23     10                0                1          38
4            21      9                0                1          32
5            22      9                1                0          32
6            18      8                1                0          55
7            19      8                0                1          32
8            17      7                0                1          32
9            16      7                0                1          32
10           13      5                1                0          47
11           11      4                0                1          46
12           12      4                0                1          32
13           10      4                0                1          32
14            9      3                0                1          32
15            8      2                1                0          48
16            7      2                0                1          34
17            6      1                0                1          32
18            3     12                0                1          56
19            5      1                0                1          34
20            4      1                0                1          32
21            1     12                0                1          37
22            2     12                0                1          32
23           30     11                1                0          46
24           29     10                0                1          53
25           28      9                0                1          61
26           27      8                0                1          63
27           26      8                1                0          40

In [11]:
#lets numalarise   coupon_item_mapping_data_path csv 

#nothing is there to convert.

     customer_id age_range  rented family_size  income_bracket
0              1       70+       0           2               4
1              6     46-55       0           2               5
2              7     26-35       0           3               3
3              8     26-35       0           4               6
4             10     46-55       0           1               5
5             11       70+       0           2               1
6             12     46-55       0           2               7
7             13     36-45       0           1               2
8             14     26-35       1           2               6
9             15     46-55       0           2               6
10            17     36-45       0           1               5
11            19     46-55       0           1               3
12            22     36-45       0           2               4
13            27     36-45       0           2               8
14            28     46-55       0           2               1
15            30       70+       0           1               5
16            31     36-45       0          5+               2
17            33     46-55       0          5+               9
18            35     18-25       0           2               4
19            36     36-45       0           2               4
20            38     46-55       0           2               5
21            39       70+       0           2               4
22            40     56-70       0           4               7
23            41     46-55       0           2               4
24            42     26-35       0           4               9
25            45     46-55       0          5+               1
26            48     36-45       0           2               3
27            51       70+       0           2               2
28            52     36-45       0          5+               7
29            53     56-70       0           1               3
..           ...       ...     ...         ...             ...
730         1512     26-35       0           2               5
731         1514     36-45       0           1               6
732         1518     36-45       0           3               3
733         1519     26-35       0           1               2
734         1520     26-35       0           3               8
735         1521     46-55       0           2               7
736         1523       70+       0           2               1
737         1528     46-55       0           3               2
738         1529     46-55       0          5+               9
739         1533     18-25       0           1               1
740         1534     36-45       0           3               5
741         1537     18-25       0           1               4
742         1538     36-45       0          5+               8
743         1544     46-55       0           1               4
744         1545     36-45       0           2               8
745         1546     36-45       0           2               3
746         1547     46-55       0           2               5
747         1551     46-55       0           1               5
748         1552     46-55       0           2               3
749         1558     36-45       0           3               6
750         1566     26-35       0           2               9
751         1569     46-55       0           1               6
752         1572     36-45       0           1               3
753         1573     46-55       0           1               4
754         1574     36-45       0           2               5
755         1577     36-45       0           2               5
756         1578     46-55       0           3               6
757         1579     46-55       0           1               4
758         1580     26-35       0           2               5
759         1581     26-35       0           3               1

[760 rows x 5 columns]

In [12]:
#lets numalarise customer_demographics_data_path csv
customer_demo_df_1 = customer_demo_df.copy()
list1 = ['customer_id', 'age_range', 'rented', 'family_size', 'income_bracket']
list2 = ['age_range','rented','income_bracket']
#rented is categorical 
#age range is categorical
#income_bracket is categorical data 
#convert them to categorical variable.
customer_demo_df_1 = pd.get_dummies(customer_demo_df_1, columns = list2)
customer_demo_df_1

,customer_id,family_size,age_range_18-25,age_range_26-35,age_range_36-45,age_range_46-55,age_range_56-70,age_range_70+,rented_0,rented_1,...,income_bracket_3,income_bracket_4,income_bracket_5,income_bracket_6,income_bracket_7,income_bracket_8,income_bracket_9,income_bracket_10,income_bracket_11,income_bracket_12
0,1,2,0,0,0,0,0,1,1,0,...,0,1,0,0,0,0,0,0,0,0
1,6,2,0,0,0,1,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
2,7,3,0,1,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
3,8,4,0,1,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
4,10,1,0,0,0,1,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
5,11,2,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
6,12,2,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
7,13,1,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
8,14,2,0,1,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
9,15,2,0,0,0,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
10,17,1,0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
11,19,1,0,0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
12,22,2,0,0,1,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
13,27,2,0,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
14,28,2,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
15,30,1,0,0,0,0,0,1,1,0,...,0,0,1,0,0,0,0,0,0,0
16,31,5+,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
17,33,5+,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
18,35,2,1,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
19,36,2,0,0,1,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
20,38,2,0,0,0,1,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
21,39,2,0,0,0,0,0,1,1,0,...,0,1,0,0,0,0,0,0,0,0
22,40,4,0,0,0,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,0
23,41,2,0,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
24,42,4,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
25,45,5+,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
26,48,2,0,0,1,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
27,51,2,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
28,52,5+,0,0,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
29,53,1,0,0,0,0,1,0,1,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,1512,2,0,1,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
731,1514,1,0,0,1,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
732,1518,3,0,0,1,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
733,1519,1,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
734,1520,3,0,1,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
735,1521,2,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
736,1523,2,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
737,1528,3,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
738,1529,5+,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
739,1533,1,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
740,1534,3,0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
741,1537,1,1,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
742,1538,5+,0,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
743,1544,1,0,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
744,1545,2,0,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
745,1546,2,0,0,1,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
746,1547,2,0,0,0,1,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
747,1551,1,0,0,0,1,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
748,1552,2,0,0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
749,1558,3,0,0,1,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
750,1566,2,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
751,1569,1,0,0,0,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
752,1572,1,0,0,1,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
753,1573,1,0,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
754,1574,2,0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
755,1577,2,0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
756,1578,3,0,0,0,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
757,1579,1,0,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
758,1580,2,0,1,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
759,1581,3,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
#lets move to customer_transaction_data_path
customer_transaction_data_path = "data/train_AUpWtIz/customer_transaction_data.csv"
customer_trans_df = pd.read_csv(customer_transaction_data_path)
#nothing to change here.

In [23]:
#the last one is item_data_path
item_data_path = "data/train_AUpWtIz/item_data.csv"
item_df =  pd.read_csv(item_data_path)
item_df_1 = item_df.loc[:,[]]
list3 = ['brand_type', 'category']
#convert above list to categorical variables.
item_df_1 = pd.get_dummies(item_df_1, columns = list3)

,item_id,brand,brand_type_Established,brand_type_Local,category_Alcohol,category_Bakery,"category_Dairy, Juices & Snacks",category_Flowers & Plants,category_Fuel,category_Garden,...,category_Natural Products,category_Packaged Meat,category_Pharmaceutical,category_Prepared Food,category_Restauarant,category_Salads,category_Seafood,category_Skin & Hair Care,category_Travel,category_Vegetables (cut)
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,56,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,56,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,56,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,6,56,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,56,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
7,8,56,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,9,11,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,10,56,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,11,21,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
11,12,56,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,13,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,14,56,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,15,56,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,16,56,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,17,56,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,18,56,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,19,56,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
19,20,56,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,21,56,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,22,56,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,23,56,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,24,56,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,25,56,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,26,56,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,27,56,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,28,56,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,29,56,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,30,56,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74036,74037,4878,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
74037,74038,4878,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
74038,74039,2128,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74039,74040,5368,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
74040,74041,5487,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
74041,74042,5483,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
74042,74043,5494,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
74043,74044,5489,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
74044,74045,5490,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
74045,74046,5510,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
74046,74047,602,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
74047,74048,771,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74048,74049,2069,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
74049,74050,5463,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
74050,74051,4302,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
74051,74052,172,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74052,74053,4442,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74053,74054,816,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74054,74055,154,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74055,74056,2997,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
74056,74057,3360,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
74057,74058,602,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
74058,74059,4442,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74059,74060,4442,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74060,74061,2069,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
74061,74062,5490,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
74062,74063,5497,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
74063,74064,5497,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
74064,74065,5520,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
74065,74066,5194,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

56      10480
686      1142
1        1091
4700      923
1262      906
487       735
619       717
946       626
4467      607
1124      594
172       556
278       547
602       546
89        451
158       441
1470      426
971       412
866       407
771       398
808       392
714       380
1088      358
1101      347
673       321
2088      318
328       313
4412      309
475       299
1134      296
209       295
        ...
4500        1
3438        1
2327        1
1455        1
4372        1
2263        1
3566        1
3630        1
3694        1
5229        1
2775        1
4884        1
5140        1
5396        1
1238        1
3223        1
2926        1
3159        1
1110        1
3095        1
2990        1
2839        1
943         1
3054        1
2967        1
5012        1
2903        1
5165        1
3118        1
2047        1
Name: brand, dtype: int64
Established    62842
Local          11224
Name: brand_type, dtype: int64
Grocery                   32448
Pharmaceutical            24471
Natural Products           2533
Dairy, Juices & Snacks     2425
Skin & Hair Care           2244
Meat                       2080
Packaged Meat              1966
Prepared Food              1880
Bakery                     1679
Seafood                     728
Flowers & Plants            664
Miscellaneous               385
Alcohol                     303
Garden                      102
Restauarant                  78
Salads                       40
Travel                       19
Fuel                         14
Vegetables (cut)              7
Name: category, dtype: int64