In [5]:
import pandas as pd
train_data_path = "data/train_AUpWtIz/train.csv"
campaign_data_path = "data/train_AUpWtIz/campaign_data.csv"
coupon_item_mapping_data_path = "data/train_AUpWtIz/coupon_item_mapping.csv"
customer_demographics_data_path = "data/train_AUpWtIz/customer_demographics.csv"
customer_transaction_data_path = "data/train_AUpWtIz/customer_transaction_data.csv"
item_data_path = "data/train_AUpWtIz/item_data.csv"

train_df = pd.read_csv(train_csv_path)
campaign_df = pd.read_csv(campaign_data_path)
coupon_item_df = pd.read_csv(coupon_item_mapping_data_path)
customer_demo_df = pd.read_csv(customer_demographics_data_path)
customer_trans_df = pd.read_csv(customer_transaction_data_path)
item_df =  pd.read_csv(item_data_path)

In [10]:
train_df.describe()

,id,campaign_id,coupon_id,customer_id,redemption_status
count,78369.000000,78369.000000,78369.000000,78369.000000,78369.000000
mean,64347.975449,13.974441,566.363243,787.451888,0.009302
std,37126.440855,8.019215,329.966054,456.811339,0.095999
min,1.000000,1.000000,1.000000,1.000000,0.000000
25%,32260.000000,8.000000,280.000000,399.000000,0.000000
50%,64318.000000,13.000000,597.000000,781.000000,0.000000
75%,96577.000000,13.000000,857.000000,1190.000000,0.000000
max,128595.000000,30.000000,1115.000000,1582.000000,1.000000