In [0]:
import pandas as pd
train_data_path = "data/train_AUpWtIz/train.csv"
campaign_data_path = "data/train_AUpWtIz/campaign_data.csv"
coupon_item_mapping_data_path = "data/train_AUpWtIz/coupon_item_mapping.csv"
customer_demographics_data_path = "data/train_AUpWtIz/customer_demographics.csv"
customer_transaction_data_path = "data/train_AUpWtIz/customer_transaction_data.csv"
item_data_path = "data/train_AUpWtIz/item_data.csv"

train_df = pd.read_csv(train_data_path)
campaign_df = pd.read_csv(campaign_data_path)
coupon_item_df = pd.read_csv(coupon_item_mapping_data_path)
customer_demo_df = pd.read_csv(customer_demographics_data_path)
customer_trans_df = pd.read_csv(customer_transaction_data_path)
item_df =  pd.read_csv(item_data_path)

In [0]:
from IPython.display import Image
try:
  filename = take_photo()
  print('Saved to {}'.format(filename))
  
  # Show the image which was just taken.
  display(Image(filename))
except Exception as err:
  # Errors will be thrown if the user does not have a webcam or if they do not
  # grant the page permission to access it.
  print(str(err))

In [0]:
train_df.describe()

,id,campaign_id,coupon_id,customer_id,redemption_status
count,78369.000000,78369.000000,78369.000000,78369.000000,78369.000000
mean,64347.975449,13.974441,566.363243,787.451888,0.009302
std,37126.440855,8.019215,329.966054,456.811339,0.095999
min,1.000000,1.000000,1.000000,1.000000,0.000000
25%,32260.000000,8.000000,280.000000,399.000000,0.000000
50%,64318.000000,13.000000,597.000000,781.000000,0.000000
75%,96577.000000,13.000000,857.000000,1190.000000,0.000000
max,128595.000000,30.000000,1115.000000,1582.000000,1.000000

In [0]:
print(train_df.isnull().sum())
print("-------------------------------")
print(campaign_df.isnull().sum())
print("-------------------------------")
print(coupon_item_df.isnull().sum())
print("-------------------------------")
print(customer_demo_df.isnull().sum())
print("-------------------------------")
print(customer_trans_df.isnull().sum())
print("-------------------------------")
print(item_df.isnull().sum())
print("-------------------------------")

id                   0
campaign_id          0
coupon_id            0
customer_id          0
redemption_status    0
dtype: int64
-------------------------------
campaign_id       0
campaign_type     0
start_date        0
end_date          0
correction       23
dtype: int64
-------------------------------
coupon_id    0
item_id      0
dtype: int64
-------------------------------
customer_id         0
age_range           0
marital_status    329
rented              0
family_size         0
no_of_children    538
income_bracket      0
dtype: int64
-------------------------------
date               0
customer_id        0
item_id            0
quantity           0
selling_price      0
other_discount     0
coupon_discount    0
dtype: int64
-------------------------------
item_id       0
brand         0
brand_type    0
category      0
dtype: int64
-------------------------------

In [0]:
customer_demo_df = customer_demo_df[['customer_id', 'age_range', 'rented', 'family_size','income_bracket']]

In [0]:
#train_df has all the numeric columns
import datetime
campaign_df_1 = campaign_df.copy()
campaign_df_1['start_date'] = campaign_df_1['start_date'].apply(lambda x: datetime.datetime.strptime(x,"%d/%m/%y"))
campaign_df_1['end_date'] = campaign_df_1['end_date'].apply(lambda x: datetime.datetime.strptime(x,"%d/%m/%y"))
campaign_df_1['month'] = campaign_df_1['start_date'].dt.month

In [0]:
#check the campaign dataframe
campaign_df.select_dtypes(exclude = ["number"])
#it gives three col "campaign_type" ,"start_date","end_date" are not numbers.

#USING GETDUMMIES FUNCTION
campaign_df_1 = pd.get_dummies(campaign_df_1,columns = ['campaign_type'])
#df_with_dummies = pd.get_dummies( df, columns = cols_to_transform )

#check the duration and month from the dates.
campaign_df_1['total_days'] = campaign_df_1['end_date'].values - campaign_df_1['start_date'].values

In [0]:
#Desired columns from campaign_df csv = ['month',campaign_type_X,campaign_type_Y,total_days]
campaign_data_df = campaign_df_1.loc[:,["campaign_id",'month','campaign_type_X','campaign_type_Y','total_days']]
campaign_data_df['total_days'] = campaign_data_df['total_days'].dt.days
campaign_data_df.to_csv("campaign_data_df.csv")

In [0]:
#lets numalarise   coupon_item_mapping_data_path csv 

#nothing is there to convert.

In [0]:
#lets numalarise customer_demographics_data_path csv
customer_demo_df_1 = customer_demo_df.copy()
list1 = ['customer_id', 'age_range', 'rented', 'family_size', 'income_bracket']
list2 = ['age_range','rented','income_bracket']
#rented is categorical 
#age range is categorical
#income_bracket is categorical data 
#convert them to categorical variable.
customer_demo_df_1 = pd.get_dummies(customer_demo_df_1, columns = list2)
customer_demo_df_1.to_csv('customer_demo_df_1.csv')

In [0]:
#lets move to customer_transaction_data_path
customer_transaction_data_path = "data/train_AUpWtIz/customer_transaction_data.csv"
customer_trans_df = pd.read_csv(customer_transaction_data_path)
#nothing to change here.

In [0]:
#the last one is item_data_path
item_data_path = "data/train_AUpWtIz/item_data.csv"
item_df =  pd.read_csv(item_data_path)
item_df_1 = item_df.loc[:,['item_id', 'brand_type', 'category']]
list3 = ['brand_type', 'category']
#convert above list to categorical variables.
item_df_1 = pd.get_dummies(item_df_1, columns = list3)
item_df_1.to_csv("item_df_1.csv")

In [33]:
# lets group them together customer_demo_df and customer_trans_df
#combine train and campaign type.
#two dataframes are -
import pandas as pd
demo_df = pd.read_csv('customer_demo_df_1.csv')
c_trans_df = pd.read_csv('customer_transaction_data.csv')

demo_df['customer_id'].astype('int')
c_trans_df['customer_id'].astype('int')

b = demo_df.set_index("customer_id")

df1 = c_trans_df.join(b,lsuffix='L_',rsuffix='R_',on="customer_id")
#del df1['Unnamed: 0']
# del df1['date']
# del df1['id']
# df1.dropna(inplace=True)
df1.isnull().sum()
#df1.to_csv("transaction_demo.csv")
#df1.head()

date                     0
customer_id              0
item_id                  0
quantity                 0
selling_price            0
other_discount           1
coupon_discount          1
Unnamed: 0           24443
family_size          24443
age_range_18-25      24443
age_range_26-35      24443
age_range_36-45      24443
age_range_46-55      24443
age_range_56-70      24443
age_range_70+        24443
rented_0             24443
rented_1             24443
income_bracket_1     24443
income_bracket_2     24443
income_bracket_3     24443
income_bracket_4     24443
income_bracket_5     24443
income_bracket_6     24443
income_bracket_7     24443
income_bracket_8     24443
income_bracket_9     24443
income_bracket_10    24443
income_bracket_11    24443
income_bracket_12    24443
dtype: int64

In [19]:
#join train and campain df on campaign_id
tr =   pd.read_csv('train.csv')
camp = pd.read_csv('campaign_data_df.csv')
tr['campaign_id'].astype('int')
tr['campaign_id'].astype('int')
b = camp.set_index('campaign_id')
df2 = tr.join(b,on='campaign_id',lsuffix="_L",rsuffix='_R')
df2.to_csv('train_campaign.csv')
df2.head()

   id  campaign_id  coupon_id  ...  campaign_type_X  campaign_type_Y  total_days
0   1           13         27  ...                1                0          47
1   2           13        116  ...                1                0          47
2   6            9        635  ...                0                1          32
3   7           13        644  ...                1                0          47
4   9            8       1017  ...                1                0          48

[5 rows x 10 columns]

In [0]:
#lets add df1 and df2 dataframe on customer_id
df2['customer_id'].astype('int')
df1['customer_id'].astype('int')

b = df1.set_index('customer_id')
df3 = df2.join(b,on='customer_id',lsuffix='_L',rsuffix='_R')

#df3.isnull().sum()
df3.to_csv('train_campaign_demo_trans.csv')

In [37]:
#lets find out those rows who have coupon id.
#join df3 with coupne item mapping using item id
a = pd.read_csv('coupon_item_mapping.csv') 
df3.dropna(inplace=True)
#df3.isnull().sum()
df3['item_id'].astype('int')

a['item_id'].astype('int')
b = a.set_index('item_id')
df4 = df3.join(b, on='item_id', lsuffix='_L', rsuffix='_R')
df4.dropna(inplace = True)
df4.isnull().sum()

id                   0
campaign_id          0
coupon_id_L          0
customer_id          0
redemption_status    0
Unnamed: 0_L         0
month                0
campaign_type_X      0
campaign_type_Y      0
total_days           0
date                 0
item_id              0
quantity             0
selling_price        0
other_discount       0
coupon_discount      0
Unnamed: 0_R         0
family_size          0
age_range_18-25      0
age_range_26-35      0
age_range_36-45      0
age_range_46-55      0
age_range_56-70      0
age_range_70+        0
rented_0             0
rented_1             0
income_bracket_1     0
income_bracket_2     0
income_bracket_3     0
income_bracket_4     0
income_bracket_5     0
income_bracket_6     0
income_bracket_7     0
income_bracket_8     0
income_bracket_9     0
income_bracket_10    0
income_bracket_11    0
income_bracket_12    0
coupon_id_R          0
dtype: int64

In [0]:
del df4['coupon_id_R']

In [43]:
#finally combine the item data with the original dataframe.
#combine on the basis of 'item_id'
df4['item_id'].astype('int')
a = pd.read_csv('item_df_1.csv')
a['item_id'].astype('int')
b = a.set_index('item_id')
df5 = df4.join(b,on='item_id',lsuffix='_L',rsuffix='_R')
#df5.isnull().sum()
df5.to_csv('final_dataframe.csv')

KeyboardInterrupt: ignored

In [0]:
#lets do the EDA in our dataset.
import pandas as pd
test_df = pd.read_csv('final_dataframe.csv') 

list1 = ['Unnamed: 0.1','Unnamed: 0','Unnamed: 0_L','Unnamed: 0_R','id','campaign_id','coupon_id_L','customer_id','item_id','date']
for i in list1:
  del test_df[i]

# print(test_df.columns)
# print(test_df.isnull().sum())
# print(test_df.head())

target = test_df['redemption_status']
test_df.drop(['redemption_status'],axis=1,inplace = True)
test_df['redemption_status']=target
test_df.head()
test_df.to_csv('final_test2.csv')

In [12]:
#we have last dataframe final_test2.csv contains (63638, 52) 
test2 = pd.read_csv('final_test2.csv')
# lets do the EDA IN dataframe.
#first plot the target column and their values
import seaborn as sn

(63638, 52)

In [0]:
 !ps -aux|grep python
 !kill 126

root          24  0.2  0.7 421872 103132 ?       Sl   02:59   0:18 /usr/bin/python2 /usr/local/bin/jupyter-notebook --ip="172.28.0.2" --port=9000 --FileContentsManager.root_dir="/" --MappingKernelManager.root_dir="/content"
root         126  6.8 88.6 12955392 11825160 ?   Ssl  03:07   8:13 /usr/bin/python3 -m ipykernel_launcher -f /root/.local/share/jupyter/runtime/kernel-b1ae66aa-6457-4319-9fe6-f4ccd7669a5f.json
root        1797  0.0  0.0  39192  6464 ?        S    05:07   0:00 /bin/bash -c ps -aux|grep python
root        1799  0.0  0.0  38572  4988 ?        S    05:07   0:00 grep python